page-offers {
    .terms {
        padding: 10px 16px;
        text-align: right;
        
        a{
            font-size: 12px;
            color: #0017d7;
            text-decoration: underline;
            line-height: 22px;
        }
    }
}
