<ion-header>
    <ion-navbar>
        <ion-title>cancelpolicy-modal</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="popup-modal" *ngIf="mode == 'reedeemPoint'">
    
    <div class="modal-center padding16">
        <div class="modal-content in-modal">
            <form #f="ngForm">
                <div class="title">
                    <h1>{{'Confirm your redeem request...!' | translate}}</h1>
                </div>
                <div class="summary-gift">
                    <h6>{{'Congratulations! you have selected...' | translate}}</h6>
                    <div class="redeem-items">
                        <div class="gift-img rd_im">
                            <ion-slides class="sm-slider">
                                <ion-slide *ngFor="let row of gift_images">
                                    <img [src]="uploadUrl+row.image_name">
                                </ion-slide>
                            </ion-slides>
                        </div>
                        <div class=""> 
                            <p>{{gift_detail.gift_title}} </p>
                            <span>{{'Product Price' | translate}} - <strong>{{gift_detail.coupon_points}} {{'Points'}}</strong></span>
                        </div>
                    </div>
                    
                    <h5>{{'Summary' | translate}}</h5>
                    
                    <table>
                        <tr>
                            <td>{{'Your Current Points' | translate}}</td>
                            <td>{{redeemBal_round}}</td>
                        </tr>
                        <tr>
                            <td>{{'Product Price' | translate}}</td>
                            <td>-{{gift_detail.coupon_points}}</td>
                        </tr>
                        <tr>
                            <td>{{'Your balance  Points' | translate}}</td>
                            <td><strong>= {{currentPointBalcance_round}}</strong></td>
                        </tr>
                    </table>
                </div>
                <div class="get-otp">
                    {{'To Confirm your redeem request,' | translate}} <br> {{'kindly enter the OTP sent on your registered mobile number-' | translate}} +91 {{karigar_detail.mobile_no}}
                    <div class="input-section">
                        <div class="input-adjust m0 mt10">
                            <input class="pl16" type="tel" name="otp" placeholder="{{'Enter the OTP here...' | translate}}" #otp="ngModel" [(ngModel)]="data.otp" (ngModelChange)="otpvalidation()" required>
                            <div class="resend-otp">{{'Did not get OTP?' | translate}} <button ion-button  clear (click)="resendOtp()">{{'Resend' | translate}}</button></div>
                            <div class="otp-error" *ngIf="!otp_value && otp?.touched">
                                <p>{{'Wrong OTP value' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <p class="highligt-error" *ngIf="karigar_detail.document_image == '' || karigar_detail.document_no == ''">* {{'Your document details are missing !' | translate}}</p> -->
                <div class="check-bx mt0">
                    <ion-item>
                        <ion-checkbox color="secondary" checked="true" name="check1" #check1="ngModel" [(ngModel)]="data.check1" (click)="bankCheck()">
                        </ion-checkbox>
                    </ion-item>
                    <p>{{'Same as mobile number' | translate}}</p>
                </div>
                

                <div class="cs-form">
                    <ion-list>

            


                        <ion-item class="cs-input" [ngClass]="{'error':f.submitted && payment_number?.invalid}">
                            <ion-label floating>{{'Paytm Number' | translate}}.*</ion-label>
                            <ion-input type="tel" name="payment_number" #payment_number="ngModel" maxlength="10" minlength="10"   [(ngModel)]="data.payment_number" required (keypress)="MobileNumber($event)" ></ion-input>
                        </ion-item>




                        <!-- <ion-item class="cs-input" [ngClass]="{'error':f.submitted && upi_id?.invalid}">
                            <ion-label floating>{{'Upi Id' | translate}}</ion-label>
                            <ion-input type="text"  name="upi_id " #upi_id ="ngModel" [(ngModel)]="data.upi_id "  required></ion-input>
                        </ion-item> -->



                        <!-- <ion-item class="cs-input" [ngClass]="{'error':f.submitted && bank_name?.invalid}">
                            <ion-label floating>{{'Bank Name' | translate}}</ion-label>
                            <ion-input type="text"  name="bank_name " #bank_name ="ngModel" [(ngModel)]="data.bank_name "  required></ion-input>
                        </ion-item>
                        
                        <ion-item class="cs-input" [ngClass]="{'error':f.submitted && account_no?.invalid}">
                            <ion-label floating>{{'Account No.' | translate}}</ion-label>
                            <ion-input type="tel" name="account_no " #account_no ="ngModel" [(ngModel)]="data.account_no"  minlength="9" maxlength="18" required></ion-input>
                        </ion-item>
                        
                        <ion-item class="cs-input" [ngClass]="{'error':f.submitted && ifsc_code?.invalid}">
                            <ion-label floating>{{'IFSC Code' | translate}}</ion-label>
                            <ion-input type="text"  name="ifsc_code " #ifsc_code ="ngModel" [(ngModel)]="data.ifsc_code"  pattern="^[A-z]{4}[0][A-Z0-9]{6}$" required></ion-input>
                        </ion-item>	
                        <div class="eror" *ngIf="ifsc_code.errors?.pattern">
                            <p> {{ 'Invalid IFSC code' | translate}}</p>
                        </div> -->


                    </ion-list>
                </div>


                <!-- <div class="input-section">
                    
                    <div class="input-adjust m0 mt0">
                        <textarea class="pl16 mt0"  name="shipping_address" placeholder="{{ 'Address' | translate}}" #shipping_address="ngModel" [(ngModel)]="data.shipping_address"   required></textarea>
                        <div class="otp-error" *ngIf="!shipping_address && otp?.shipping_address">
                            <p>{{data.payment_type}} number required</p>
                        </div>
                    </div>
                </div> -->
                
                <div class="check-bx mt0">
                    <ion-item>
                        <ion-checkbox color="secondary" checked="true" name="check" #check="ngModel" [(ngModel)]="data.check" required></ion-checkbox>
                    </ion-item>
                    <p>{{'I accept the' | translate}} <a (click)="openModal()">{{'Cancellation Policy' | translate}}</a></p>
                </div>
                <div class="footer-btns">
                    <button ion-button color="danger" (click)="dismiss()">{{'Cancel' | translate}}</button>
                    <button ion-button color="sucess" [disabled]="!data.check ||!data.otp || !data.payment_number  " (click)="submit()">{{'Confirm' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</ion-content>
<ion-content padding class="popup-modal" *ngIf="mode == 'NotreedeemPoint'">
    
    
    <div class="main-modal">
        <div class="modal-box">
            <div class="success-img"><img src="assets/imgs/alert.gif"></div>
            <p>{{'Oops!' | translate}} {{'You do not have sufficient points to redeem this gift. You are' | translate}} <span style="color:red"><strong>{{needPoint}}</strong> {{'points' | translate}}</span> {{ "short to redeem this gift. Scan more  Point products and earn points." | translate}}</p>
            <div style="margin:16px -16px 0px -16px">
                <button ion-button  full color="sucess" outline (click)="dismiss()">Okay</button>
            </div>
        </div>
    </div>
    
</ion-content>




<ion-content padding class="popup-modal" *ngIf="mode == 'Poilcy'">
    <div class="modal-center">
        <div class="modal-content in-modal in-modal_opss">
            <div class="footer-btn footer-btn_opss1">
                <!-- <a class="outline-btn" (click)="dismiss()">{{'Cancel' | translate}}</a> -->
                <i class="material-icons material-icons_opss" (click)="dismiss()">cancel</i>
                <!-- <button class="fill-btn" [disabled]="!data.check ||!data.otp ||!otp_value || shipping_address == '' || karigar_detail.document_image == '' || karigar_detail.document_no == '' " (click)="f.form.valid && submit()">{{'Yes' | translate}}</button> -->
            </div>
            <div class="plo">
                <p  class="policy" padding [innerHTML]="term"></p>
            </div>
        </div>
    </div>
</ion-content>
