page-mobile-login {
    
    .otp-error
    {
        p
        {
            font-size: 15px;
            margin: 7px 49px 0px !important;
            color: red;
        }
    }
    

    .text {
        padding: 16px;
        border-bottom: 1px solid #D4D4D4;
        p {
            font-size: 16px;
            color: white !important;
        }
    }
    
}


