page-gift-detail {

    .lorem-text{
        font-size: 12px;
        line-height: 22px;
    }

    .gift-slide{
        width: 80px;
        min-width: 80px;
        height: 80px !important;
    }

}
