page-products {
  .card-title{
    padding: 10px;
    color: #342501;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    
    i{
        font-size: 18px;
        color: #342501;
        font-weight: 600;
    }
}
}